.preloader {
  @extend %cover;
  z-index: 12;
  &__wrapper {
    @extend %cover;
    display: grid;
    padding: 4rem;

    background: #272727;
    color: #f2f2f2;

    & > * {
      grid-area: 1/1;
    }
  }

  &__text {
    place-self: center;
  }

  &__progress {
    place-self: end;
    font-size: 6rem;
    font-weight: 400;
  }
}
