@use "./variables";
/// Base url link
/// @type string
$base-url: "/assets/";

/// @param {String} $base - base url
/// @param {String} $type - asset type folder eg "fonts/"
/// @param {String} $path - asset path
/// @return {Url}

@function asset($base, $type, $path) {
  @return url($base + $type + $path);
}

@function font($path, $base: $base-url) {
  @return asset($base, "fonts/", $path);
}

@function z($name) {
  @if index(variables.$z-indexes, $name) {
    @return (length(variables.$z-indexes) - index(variables.$z-indexes, $name) + 1);
  } @else {
    @warn "There is not item '#{$name}' in this list; Choose one of: '#{$z-indexes}'";

    @return null;
  }
}
