$z-indexes: ("noscript", "preloader", "scrollbar", "navigation", "content", "canvas");

$infinitus-gray: #afafaf;
$infinitus-green: #2f7759;
$infinitus-beige: #f2efe6;
$infinitus-black: #131313;
$infinitus-mustard-yellow: #e8a87c;
