.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }

  &__wrapper {
    @extend %cover;
    height: auto;
    padding-inline: 4rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;

    & > * {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    .nav__right {
      justify-content: end;
    }
  }

  &__main {
    margin-top: 2rem;

    h1 {
      font-size: 9.6rem;
      font-style: italic;
      font-size: 700;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    [data-animation="paragraph"] {
      margin-top: 1rem;
    }
  }
}
